html {
    scroll-behavior: smooth;
    list-style-type: none;
}

#navvy {
    width: auto; height: 100vh;
}

.darkmode {
	background-color: black;
	color: white;
}

.dark-mode-toggle {
    cursor: pointer;
}

body {
    font-family: 'Poppins', sans-serif;
}

.section-padding {
    padding: 100px 0;
}

.section-header {
    padding-bottom: 30px;
}

.navbar-brand {
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}

.navbar-brand:hover {
    color: #fff;
}

.nav-area {
    background-color: rgba(46, 49, 49, 0.3);

}

.navbar-nav .nav-link {
    padding-left: 0;
    padding-right: 0;
    color: #fff;
    font-weight: bold;
}

.nav-item {
    color: #fff;
    padding: 0 15px;
    text-transform: uppercase;
}

.nav-link {
    transition: 0.3s;
    letter-spacing: 2px;
}

.nav-link.active,
.nav-link:hover {
    transform: scale(1.5);
    color: #000080;
}

.slider-area {
    background-size: cover;
    background-position: center center;
    height: 100vh;
    color: #fff;
    position: relative;
}

.slider-text {
    text-align: center;
    padding-top: 15%;
}

.slider-text h1 {
    font-size: 100px;
    font-weight: bold;
    letter-spacing: 50px;
}

.slider-text span {
    font-size: 50px;
    text-transform: uppercase;
    font-weight: bold;
}

.slider-text a {
    color: #fff;
    text-decoration: none;
}

.blinkingCursor {
    animation: blinkingText 1.2s infinite;;
}

@keyframes blinkingText {
    0% { color : #00000; }
    50% { color : #00000; }
    60% { color : transparent; }
    100% { color : #00000; }
}

.about-area h2 {
    font-size: 50px;
    letter-spacing: 10px;
    font-weight: 700;
}

.about-img img {
    width: 70%;
    border-radius: 100%;
}
.about-img p {
    width: 70%;
    text-align: center;
    padding: 50px;
}

.item-text {
    padding-left: 15px;
}

.item-text h4 {
    margin-bottom: 38px;
}

.eachSkill {
    margin: 20px 0;
}

.percent {
    float: right;
}

.skillBarContainer {
    width: 100%;
    max-width: 600px;
    height: 10px;
    background: #e6eae3;
    background: rgb(8,102,220);
    background: rgba(8,102,220,.2);
    overflow: hidden;
    border-radius:5px;
    display: inline-block;

}

.skillBarValue {
    height: 1.66em;
    float: left;
    background:#0866dc;
    background: rgb(8,102,220);
    background: rgba(8,102,220,.75);
}

.value-80  { width: 80%;  }
.value-85  { width: 85%;  }
.value-90  { width: 90%;  }
.value-95  { width: 95%;  }
.value-100 { width: 100%; }

@keyframes slideIn {
    0% { width: 0; }
    25% { width:100%; }
    100% { width: normal; }
}

.skillBarValue {
    animation: slideIn 2s;
}

.stats-area {
    background: url('https://cdn2.scratch.mit.edu/get_image/gallery/5644465_200x130.png');
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    position: relative;
    z-index: 1;
}

.stats-area:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.single-stats {
    color: #fff;
    text-align: center;
}

.single-stats i {
    margin-bottom: 20px;
}

.single-stats h4 {
    font-weight: 700;
    text-transform: uppercase;
}

.services-area {
    text-align: center;
}

.single-service {
    border: 1px solid #ddd;
    padding: 30px 20px;
    margin-bottom: 15px;
}

.single-service h2 {
    margin: 15px 0;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

.single-service:hover {
    background: #262626;
    color: #fff;
    transition: .6s;
}

.award-area {
    position: relative;
    background-image: url("https://images.alphacoders.com/686/686020.jpg");
    background-size: cover;
    background-position: center center;
    z-index: 1;
    text-align: center;
}

.award-area:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #000, transparent);
    z-index: -1;
}

.single-award h2 {
    color: #fff;
    text-transform: uppercase;
    font-family: 'Audiowide', cursive;
}

.single-award a {
    text-decoration: none;
    display: inline-block;
    background: #2980b9;
    color: #fff;
    padding: 15px 30px;
    margin-top: 25px;
    border-radius: 50px;
    text-transform: uppercase;
}

.single-work img {
    width: 100%;
}

.single-work {
    margin-bottom: 30px;
}

.portfolio-area .section-padding {
    padding-bottom: 30px;
}

footer {
    background-color: rgba(46, 49, 49, 0.3);
    padding: 20px;
    letter-spacing: 5px;
}

.fa-slack {
	color: #4A154B;
}

.fa-gitlab {
	color: #FC6D27;
}

.fa-github-square {
	color: #333;
}

.fa-google-plus {
	color: #bb0000;
}

.fa-instagram-square {
	color: #bc2a8d;
}

.social a {
	font-size: 7em;
	padding: 3rem;
}

.contact-form {
	background-color: rgba(46, 49, 49, 0.3);
    border-radius: 10px;
    padding: 30px;
}

@media only screen and (min-width: 426px) and (max-width: 1023px) {
    .nav-link {
        text-align: center;
    }
    .dark-mode-toggle {
        float: right;
    }
    .section-header h2 {
        font-size: 35px;
        font-weight: bold;
    }
    .navbar-toggler-icon i.fa {
        color: #fff;
    }
    .slider-text {
        padding-top: 50%;
    }
    .about-img img {
        width: 100%;
        padding: 30px;
    }
    .about-img p {
        width: 100%;
    }
    .item-text {
        padding-left: 0;
    }
    .single-stats h2 {
        font-size: 30px;
    }
    .single-stats p {
        font-size: 14px;
    }
    .single-test1 {
        margin-bottom: 15px;
    }
}

@media only screen and (max-width: 425px) {
    .nav-link {
        text-align: center;
    }
    .dark-mode-toggle {
        float: right;
    }
    .section-header h2 {
        font-size: 22px;
        font-weight: bold;
    }
    .navbar-toggler-icon i.fa {
        color: #fff;
    }
    .slider-text h1 {
        font-size: 50px;
        letter-spacing: 15px;
    }
    .slider-text span {
        font-size: 20px;
    }
    .slider-text {
        padding-top: 50%;
    }
    .about-img img {
        width: 100%;
        padding: 30px;
    }
    .about-img p {
        width: 100%;
    }
    .item-text {
        margin-top: 30px;
        padding-left: 0;
    }
    .item-text h4 {
        margin-bottom: 30px;
    }
    
    .single-stats h2 {
        font-size: 30px;
    }
    .single-award  h2 {
        font-size: 18px;
        line-height: 14px;
    }
    .single-award a {
        padding: 5px 15px;
        font-size: 14px;
    }
    .single-test1 {
        padding: 15px 10px;
        margin-bottom: 15px;
    }
}